/*Tipos de combinadores:
1. Descendente (espaço)
2. Filho (>)
3. Irmão adjascente (+)
4. Irmão Geral (~)
*/

/*box-sizing tem duas opções:
1. content-box que soma altura, largura e padding
2. border-box ele vai redimensionar o padding e o border para ficar exatamente com o width e o height que foi definido
*/

div p {
    /*Aqui ele pegou todos os paragrafos dentro da div*/
    background-color: lightgreen;
}

div>p {
    /*Aqui ele pegou apenas os paragrafos filhos dentro da div*/
    color: red;
}

div+p {
    /*Aqui ele pegou apenas o paragrafo que vem depois da div*/
    color: rgb(225, 0, 255);
}

p+p {
    color: rgb(255, 251, 0);
}

div~p {
    /*Aqui ele pegou todos os paragrafos que vem depois da div (no caso os irmãos) depois da div*/
    background-color: black;
}

#p1 {
    background-color: hsl(120, 100%, 50%);
}
#p2 {
    background-color: hsl(0, 100%, 50%);
}

#p3 {
    background-color: hsla(120, 100%, 50%, .3);
}
#p4 {
    background-color: hsla(0, 100%, 50%, .2);
}