@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');

div {
    margin-bottom: 30px;
}

.exemplo {
    width: 300px;
    height: 300px;
    border: 15px dashed palegreen;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-weight: 900;
    background-color: rgb(212, 0, 255);
    background-image: url('https://wallpapers.com/images/featured/hd-a5u9zq0a0ymy2dug.jpg');
    background-blend-mode: multiply;
}
.exemplo1 {
    width: 300px;
    height: 300px;
    border: 15px dashed palegreen;
    color: white;
    padding: 30px;
    font-size: 40px;
    font-weight: 900;
    
    background: 
    url(./img/download.jpeg) /*bg image*/
    top center 200px 200px  /*position / size*/
    no-repeat /*repeat*/
    fixed /*attachment*/
    padding-box /*origin*/
    content-box /*clip*/
    red /*color*/
    ;
}